//Responsivity
$media-xl: "only screen and (min-width: 1100px)";
$media-lg: "only screen and (min-width: 942px)";
$media-md: "only screen and (min-width: 768px)";
$media-sm: "only screen and (min-width: 544px)";
$media-xs: "only screen and (min-width: 360px)";